<ul>
    <li>
        <div class ="product">
            <div class ="details">
                <div>
                    <h2> Indian Grocery Store</h2>
                    <p> Red kidney beans commonly used to prepare rajma curry and other Indian dishes</p>
                    <p>Category Type: Lentils</p>
                </div>
            </div>
            <div class="price">
                <p>$945.00
                </p>
                <button class ="cta">Buy</button>
            </div>
        </div>
    </li>
</ul>
