
  <img [src]="getImageUrl(product())" [alt]="product().name"/>
  <div class="details">
    <div>
      <h2>{{product().name}}</h2>
      <p>{{product().description}}</p>
    
      <p>Category Type: {{product().category}}</p>
    </div>
  </div>
  <div class="price">
     <p [ngClass]="getPricesClasses()">${{product().price}}</p>
    @if(product().discount>0){
      <p class="discount">{{product().price * (1-product().discount)|currency}}(Sale)</p>
    }
    <button class="cta" (click)="removeFromCart()">Remove</button>
  </div>
